html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Arial;

}